<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>{{ escape(handler.settings["blog_title"]) }}</title>
		<link rel="stylesheet" href="{{ static_url("bootstrap.css") }}" type="text/css">
		<link rel="stylesheet" href="{{ static_url("blog.css") }}" type="text/css">
		<link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}">
		{% block head %}{% end %}
	</head>
	<body>
		<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="container">
			<div class="navbar-right">
				{% if current_user %}
					<ul class="nav navbar-nav">
						<li><a href="/compose">创作</a></li>
						<li><a href="/auth/logout">退出</a></li>
					</ul>
				{% else %}
					<ul class="nav navbar-nav">
						<li><a href="/auth/login">登录</a></li>
						<li><a href="/auth/create">注册</a></li>
					</ul>
				{% end %}
					<a class="navbar-brand" href="/">童年的时光机</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/">文章</a></li>
					<li><a href="/archive">归档</a></li>
					<li><a href="/about">关于</a></li>
				</ul>
			</div>
			</div>
		</nav>
		<div class="container">{% block body %}{% end %}</div>
		<div id="bottom">{% block footer %}{% end %}</div>
	</body>
</html>
